@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ProductSans;
  src: url(../../font/Product\ Sans\ Regular.ttf);
}

@layer base {
  body {
    @apply bg-primaryDark;
  }
  /* .appContainer {
    @apply max-w-[1500px] mx-auto px-4;
  } */
}

* {
  font-family: ProductSans;
}
